<% wrap_layout :inner do %>
<% content_for :sidebar do %>
<div class="docs-sidebar hidden-print affix-top" role="complementary">
    <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
            <a href="/docs/providers/index.html">All Providers</a>
        </li>
        
        <li<%= sidebar_current("docs-nutanix-index") %>>
            <a href="/docs/providers/nutanix/index.html">Nutanix Provider</a>
        </li>
        
        <li<%= sidebar_current("docs-nutanix-datasource") %>>
            <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-nutanix-datasource-access-control-policies") %>>
                    <a href="/docs/providers/nutanix/d/access_control_policies.html">nutanix_access_control_policies</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-access-control-policy") %>>
                    <a href="/docs/providers/nutanix/d/access_control_policy.html">nutanix_access_control_policy</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-category-key") %>>
                    <a href="/docs/providers/nutanix/d/category_key.html">nutanix_category_key</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-cluster") %>>
                    <a href="/docs/providers/nutanix/d/cluster.html">nutanix_cluster</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-clusters-x") %>>
                    <a href="/docs/providers/nutanix/d/clusters.html">nutanix_clusters</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-host") %>>
                    <a href="/docs/providers/nutanix/d/host.html">nutanix_host</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-hosts") %>>
                    <a href="/docs/providers/nutanix/d/hosts.html">nutanix_hosts</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-image") %>>
                    <a href="/docs/providers/nutanix/d/image.html">nutanix_image</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-karbon-cluster-kubeconfig") %>>
                    <a href="/docs/providers/nutanix/d/karbon_cluster_kubeconfig.html">nutanix_karbon_cluster_kubeconfig</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-karbon-cluster-ssh") %>>
                    <a href="/docs/providers/nutanix/d/karbon_cluster_ssh.html">nutanix_karbon_cluster_ssh</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-karbon-cluster") %>>
                    <a href="/docs/providers/nutanix/d/karbon_cluster.html">nutanix_karbon_cluster</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-karbon-clusters") %>>
                    <a href="/docs/providers/nutanix/d/karbon_clusters.html">nutanix_karbon_clusters</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-karbon-private-registries") %>>
                    <a href="/docs/providers/nutanix/d/karbon_private_registries.html">nutanix_karbon_private_registries</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-karbon-private-registry") %>>
                    <a href="/docs/providers/nutanix/d/karbon_private_registry.html">nutanix_karbon_private_registry</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-network_security_rule") %>>
                    <a href="/docs/providers/nutanix/d/network_security_rule.html">nutanix_network_security_rule</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-permission") %>>
                    <a href="/docs/providers/nutanix/d/permission.html">nutanix_permission</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-permissions") %>>
                    <a href="/docs/providers/nutanix/d/permissions.html">nutanix_permissions</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-project") %>>
                    <a href="/docs/providers/nutanix/d/project.html">nutanix_project</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-projects") %>>
                    <a href="/docs/providers/nutanix/d/projects.html">nutanix_projects</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-role") %>>
                    <a href="/docs/providers/nutanix/d/role.html">nutanix_role</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-roles") %>>
                    <a href="/docs/providers/nutanix/d/roles.html">nutanix_roles</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-subnet") %>>
                    <a href="/docs/providers/nutanix/d/subnet.html">nutanix_subnet</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-subnets") %>>
                    <a href="/docs/providers/nutanix/d/subnets.html">nutanix_subnets</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-user-group") %>>
                    <a href="/docs/providers/nutanix/d/user_group.html">nutanix_user_group</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-user-groups") %>>
                    <a href="/docs/providers/nutanix/d/user_groups.html">nutanix_user_groups</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-user") %>>
                    <a href="/docs/providers/nutanix/d/user.html">nutanix_user</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-users") %>>
                    <a href="/docs/providers/nutanix/d/users.html">nutanix_users</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-virtual_machine") %>>
                    <a href="/docs/providers/nutanix/d/virtual_machine.html">nutanix_virtual_machine</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-protection-rule") %>>
                    <a href="/docs/providers/nutanix/d/protection_rule.html">nutanix_protection_rule</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-protection-rules") %>>
                    <a href="/docs/providers/nutanix/d/protection_rules.html">nutanix_protection_rules</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-recovery-plan") %>>
                    <a href="/docs/providers/nutanix/d/recovery_plan.html">nutanix_recovery_plan</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-address-groups") %>>
                    <a href="/docs/providers/nutanix/d/address_groups.html">nutanix_address_groups</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-address-group") %>>
                    <a href="/docs/providers/nutanix/d/address_group.html">nutanix_address_group</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-discover-nodes") %>>
                    <a href="/docs/providers/nutanix/d/foundation_discover_nodes.html">nutanix_foundation_discover_nodes</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-hypervisor-isos") %>>
                    <a href="/docs/providers/nutanix/d/hypervisor_isos.html">nutanix_foundation_hypervisor_isos</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-nos-packages") %>>
                    <a href="/docs/providers/nutanix/d/foundation_nos_packages.html">nutanix_foundation_nos_packages</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-node-network-details") %>>
                    <a href="/docs/providers/nutanix/d/foundation_node_network_details.html">nutanix_foundation_node_network_details</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-central-get-api-key") %>>
                    <a href="/docs/providers/nutanix/d/foundation_central_get_api_key.html">nutanix_foundation_central_get_api_key</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-central-imaged-cluster-details") %>>
                    <a href="/docs/providers/nutanix/d/foundation_central_imaged_cluster_details.html">nutanix_foundation_central_imaged_cluster_details</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-central-imaged-node-details") %>>
                    <a href="/docs/providers/nutanix/d/foundation_central_imaged_node_details.html">nutanix_foundation_central_imaged_node_details</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-central-list-all-api-keys") %>>
                    <a href="/docs/providers/nutanix/d/foundation_central_list_all_api_keys.html">nutanix_foundation_central_list_all_api_keys</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-central-list-all-imaged-clusters") %>>
                    <a href="/docs/providers/nutanix/d/foundation_central_list_all_imaged_clusters.html">nutanix_foundation_central_list_all_imaged_clusters</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-central-list-all-imaged-nodes") %>>
                    <a href="/docs/providers/nutanix/d/foundation_central_list_all_imaged_nodes.html">nutanix_foundation_central_list_all_imaged_nodes</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-floating-ip") %>>
                    <a href="/docs/providers/nutanix/d/floating_ip.html">nutanix_floating_ip</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-floating-ips") %>>
                    <a href="/docs/providers/nutanix/d/floating_ips.html">nutanix_floating_ips</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-pbr") %>>
                    <a href="/docs/providers/nutanix/d/pbr.html">nutanix_pbr</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-pbrs") %>>
                    <a href="/docs/providers/nutanix/d/pbrs.html">nutanix_pbrs</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-static-routes") %>>
                    <a href="/docs/providers/nutanix/d/static_routes.html">nutanix_static_routes</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-vpc") %>>
                    <a href="/docs/providers/nutanix/d/vpc.html">nutanix_vpc</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-vpcs") %>>
                    <a href="/docs/providers/nutanix/d/vpcs.html">nutanix_vpcs</a>
                </li>
            </ul>
        </li>

        <li<%= sidebar_current("docs-nutanix-resource") %>>
            <a href="#">Resources</a>
            <ul class="nav nav-visible">
                 <li<%= sidebar_current("docs-nutanix-resource-access-control-policy") %>>
                    <a href="/docs/providers/nutanix/r/access_control_policy.html">nutanix_access_control_policy</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-nutanix-category-key") %>>
                    <a href="/docs/providers/nutanix/r/category_key.html">nutanix_category_key</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-nutanix-category-value") %>>
                    <a href="/docs/providers/nutanix/r/category_value.html">nutanix_category_value</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-nutanix_image") %>>
                    <a href="/docs/providers/nutanix/r/image.html">nutanix_image</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-karbon-cluster") %>>
                    <a href="/docs/providers/nutanix/r/karbon_cluster.html">nutanix_karbon_cluster</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-karbon-private-registry") %>>
                    <a href="/docs/providers/nutanix/r/karbon_private_registry.html">nutanix_karbon_private_registry</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-network-security-rule") %>>
                    <a href="/docs/providers/nutanix/r/network_security_rule.html">nutanix_network_security_rule</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-project") %>>
                    <a href="/docs/providers/nutanix/r/project.html">nutanix_project</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-protection-rule") %>>
                    <a href="/docs/providers/nutanix/r/protection_rule.html">nutanix_protection_rule</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-recovery-plan") %>>
                    <a href="/docs/providers/nutanix/r/recovery_plan.html">nutanix_recovery_plan</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-role") %>>
                    <a href="/docs/providers/nutanix/r/role.html">nutanix_role</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-nutanix_subnet") %>>
                    <a href="/docs/providers/nutanix/r/subnet.html">nutanix_subnet</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-user") %>>
                    <a href="/docs/providers/nutanix/r/user.html">nutanix_user</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-nutanix-virtual-machine") %>>
                    <a href="/docs/providers/nutanix/r/virtual_machine.html">nutanix_virtual_machine</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-address-group") %>>
                    <a href="/docs/providers/nutanix/r/address_group.html">nutanix_address_group</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-service-group") %>>
                    <a href="/docs/providers/nutanix/r/service_group.html">nutanix_service_group</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-foundation-image-nodes") %>>
                    <a href="/docs/providers/nutanix/r/foundation_image_nodes.html">nutanix_foundation_image_nodes</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-foundation-image") %>>
                    <a href="/docs/providers/nutanix/r/foundation_image.html">nutanix_foundation_image</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-foundation-ipmi-config") %>>
                    <a href="/docs/providers/nutanix/r/foundation_ipmi_config.html">nutanix_foundation_ipmi_config</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-foundation-central-api-key") %>>
                    <a href="/docs/providers/nutanix/r/foundation_central_api_key.html">nutanix_foundation_central_api_key</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-foundation-central-image-cluster") %>>
                    <a href="/docs/providers/nutanix/r/foundation_central_image_cluster.html">nutanix_foundation_central_image_cluster</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-floating-ip") %>>
                    <a href="/docs/providers/nutanix/r/floating_ip.html">nutanix_floating_ip</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-pbr") %>>
                    <a href="/docs/providers/nutanix/r/pbr.html">nutanix_pbr</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-static-routes") %>>
                    <a href="/docs/providers/nutanix/r/static_routes.html">nutanix_static_routes</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-vpc") %>>
                    <a href="/docs/providers/nutanix/r/vpc.html">nutanix_vpc</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-user-groups") %>>
                    <a href="/docs/providers/nutanix/r/user_groups.html">nutanix_user_groups</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<% end %>

<%= yield %>
<% end %>