<% wrap_layout :inner do %>
<% content_for :sidebar do %>
<div class="docs-sidebar hidden-print affix-top" role="complementary">
    <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
            <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-nutanix-index") %>>
            <a href="/docs/providers/nutanix/index.html">Nutanix Provider</a>
        </li>
        <li<%= sidebar_current("docs-nutanix-guides") %>>
            <a href="#">Guides</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-nutanix-guides-v1-to-v2-migration-guide") %>>
                    <a href="/docs/providers/nutanix/guides/v1_to_v2_migration_guide.html">Migration Guide: V1 to V2 Resources</a>
                </li>
            </ul>
        </li>
        <li<%= sidebar_current("docs-nutanix-datasource") %>>
            <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-nutanix-datasource-access-control-policies") %>>
                    <a href="/docs/providers/nutanix/d/access_control_policies.html">nutanix_access_control_policies</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-access-control-policy") %>>
                    <a href="/docs/providers/nutanix/d/access_control_policy.html">nutanix_access_control_policy</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-category-key") %>>
                    <a href="/docs/providers/nutanix/d/category_key.html">nutanix_category_key</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-cluster") %>>
                    <a href="/docs/providers/nutanix/d/cluster.html">nutanix_cluster</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-clusters-x") %>>
                    <a href="/docs/providers/nutanix/d/clusters.html">nutanix_clusters</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-host") %>>
                    <a href="/docs/providers/nutanix/d/host.html">nutanix_host</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-hosts") %>>
                    <a href="/docs/providers/nutanix/d/hosts.html">nutanix_hosts</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-image") %>>
                    <a href="/docs/providers/nutanix/d/image.html">nutanix_image</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-karbon-cluster-kubeconfig") %>>
                    <a href="/docs/providers/nutanix/d/karbon_cluster_kubeconfig.html">nutanix_karbon_cluster_kubeconfig</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-karbon-cluster-ssh") %>>
                    <a href="/docs/providers/nutanix/d/karbon_cluster_ssh.html">nutanix_karbon_cluster_ssh</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-karbon-cluster") %>>
                    <a href="/docs/providers/nutanix/d/karbon_cluster.html">nutanix_karbon_cluster</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-karbon-clusters") %>>
                    <a href="/docs/providers/nutanix/d/karbon_clusters.html">nutanix_karbon_clusters</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-karbon-private-registries") %>>
                    <a href="/docs/providers/nutanix/d/karbon_private_registries.html">nutanix_karbon_private_registries</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-karbon-private-registry") %>>
                    <a href="/docs/providers/nutanix/d/karbon_private_registry.html">nutanix_karbon_private_registry</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-network_security_rule") %>>
                    <a href="/docs/providers/nutanix/d/network_security_rule.html">nutanix_network_security_rule</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-permission") %>>
                    <a href="/docs/providers/nutanix/d/permission.html">nutanix_permission</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-permissions") %>>
                    <a href="/docs/providers/nutanix/d/permissions.html">nutanix_permissions</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-project") %>>
                    <a href="/docs/providers/nutanix/d/project.html">nutanix_project</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-projects") %>>
                    <a href="/docs/providers/nutanix/d/projects.html">nutanix_projects</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-role") %>>
                    <a href="/docs/providers/nutanix/d/role.html">nutanix_role</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-roles") %>>
                    <a href="/docs/providers/nutanix/d/roles.html">nutanix_roles</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-subnet") %>>
                    <a href="/docs/providers/nutanix/d/subnet.html">nutanix_subnet</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-subnets") %>>
                    <a href="/docs/providers/nutanix/d/subnets.html">nutanix_subnets</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-user-group") %>>
                    <a href="/docs/providers/nutanix/d/user_group.html">nutanix_user_group</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-user-groups") %>>
                    <a href="/docs/providers/nutanix/d/user_groups.html">nutanix_user_groups</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-user") %>>
                    <a href="/docs/providers/nutanix/d/user.html">nutanix_user</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-users") %>>
                    <a href="/docs/providers/nutanix/d/users.html">nutanix_users</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-virtual_machine") %>>
                    <a href="/docs/providers/nutanix/d/virtual_machine.html">nutanix_virtual_machine</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-protection-rule") %>>
                    <a href="/docs/providers/nutanix/d/protection_rule.html">nutanix_protection_rule</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-protection-rules") %>>
                    <a href="/docs/providers/nutanix/d/protection_rules.html">nutanix_protection_rules</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-recovery-plan") %>>
                    <a href="/docs/providers/nutanix/d/recovery_plan.html">nutanix_recovery_plan</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-address-groups") %>>
                    <a href="/docs/providers/nutanix/d/address_groups.html">nutanix_address_groups</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-address-group") %>>
                    <a href="/docs/providers/nutanix/d/address_group.html">nutanix_address_group</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-discover-nodes") %>>
                    <a href="/docs/providers/nutanix/d/foundation_discover_nodes.html">nutanix_foundation_discover_nodes</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-hypervisor-isos") %>>
                    <a href="/docs/providers/nutanix/d/hypervisor_isos.html">nutanix_foundation_hypervisor_isos</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-nos-packages") %>>
                    <a href="/docs/providers/nutanix/d/foundation_nos_packages.html">nutanix_foundation_nos_packages</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-node-network-details") %>>
                    <a href="/docs/providers/nutanix/d/foundation_node_network_details.html">nutanix_foundation_node_network_details</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-central-get-api-key") %>>
                    <a href="/docs/providers/nutanix/d/foundation_central_get_api_key.html">nutanix_foundation_central_get_api_key</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-central-imaged-cluster-details") %>>
                    <a href="/docs/providers/nutanix/d/foundation_central_imaged_cluster_details.html">nutanix_foundation_central_imaged_cluster_details</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-central-imaged-node-details") %>>
                    <a href="/docs/providers/nutanix/d/foundation_central_imaged_node_details.html">nutanix_foundation_central_imaged_node_details</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-central-list-all-api-keys") %>>
                    <a href="/docs/providers/nutanix/d/foundation_central_list_all_api_keys.html">nutanix_foundation_central_list_all_api_keys</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-central-list-all-imaged-clusters") %>>
                    <a href="/docs/providers/nutanix/d/foundation_central_list_all_imaged_clusters.html">nutanix_foundation_central_list_all_imaged_clusters</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-foundation-central-list-all-imaged-nodes") %>>
                    <a href="/docs/providers/nutanix/d/foundation_central_list_all_imaged_nodes.html">nutanix_foundation_central_list_all_imaged_nodes</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-floating-ip") %>>
                    <a href="/docs/providers/nutanix/d/floating_ip.html">nutanix_floating_ip</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-floating-ips") %>>
                    <a href="/docs/providers/nutanix/d/floating_ips.html">nutanix_floating_ips</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-pbr") %>>
                    <a href="/docs/providers/nutanix/d/pbr.html">nutanix_pbr</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-pbrs") %>>
                    <a href="/docs/providers/nutanix/d/pbrs.html">nutanix_pbrs</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-static-routes") %>>
                    <a href="/docs/providers/nutanix/d/static_routes.html">nutanix_static_routes</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-vpc") %>>
                    <a href="/docs/providers/nutanix/d/vpc.html">nutanix_vpc</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-vpcs") %>>
                    <a href="/docs/providers/nutanix/d/vpcs.html">nutanix_vpcs</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-cluster") %>>
                    <a href="/docs/providers/nutanix/d/ndb_cluster.html">nutanix_ndb_cluster</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-clusters") %>>
                    <a href="/docs/providers/nutanix/d/ndb_clusters.html">nutanix_ndb_clusters</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-database") %>>
                    <a href="/docs/providers/nutanix/d/ndb_database.html">nutanix_ndb_database</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-databases") %>>
                    <a href="/docs/providers/nutanix/d/ndb_databases.html">nutanix_ndb_databases</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-profile") %>>
                    <a href="/docs/providers/nutanix/d/ndb_profile.html">nutanix_ndb_profile</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-profiles") %>>
                    <a href="/docs/providers/nutanix/d/ndb_profiles.html">nutanix_ndb_profiles</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-sla") %>>
                    <a href="/docs/providers/nutanix/d/ndb_sla.html">nutanix_ndb_sla</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-slas") %>>
                    <a href="/docs/providers/nutanix/d/ndb_slas.html">nutanix_ndb_slas</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-clone") %>>
                    <a href="/docs/providers/nutanix/d/ndb_clone.html">nutanix_ndb_clone</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-clones") %>>
                    <a href="/docs/providers/nutanix/d/ndb_clones.html">nutanix_ndb_clones</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-snapshot") %>>
                    <a href="/docs/providers/nutanix/d/ndb_snapshot.html">nutanix_ndb_snapshots</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-snapshots") %>
                    <a href="/docs/providers/nutanix/d/ndb_snapshots.html">nutanix_ndb_snapshots</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-tms-capability") %>>
                    <a href="/docs/providers/nutanix/d/ndb_time_machine_capability.html">nutanix_ndb_tms_capability</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-time_machine") %>>
                    <a href="/docs/providers/nutanix/d/ndb_time_machine.html">nutanix_ndb_time_machine</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-time_machines") %>>
                    <a href="/docs/providers/nutanix/d/ndb_time_machines.html">nutanix_ndb_time_machines</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-dbserver") %>>
                    <a href="/docs/providers/nutanix/d/ndb_dbserver.html">nutanix_ndb_dbserver</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-dbservers") %>>
                    <a href="/docs/providers/nutanix/d/ndb_dbservers.html">nutanix_ndb_dbservers</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-network") %>>
                    <a href="/docs/providers/nutanix/d/ndb_network.html">nutanix_ndb_network</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-networks") %>>
                    <a href="/docs/providers/nutanix/d/ndb_networks.html">nutanix_ndb_networks</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-maintenance-window") %>>
                    <a href="/docs/providers/nutanix/d/ndb_maintenance_window.html">nutanix_ndb_maintenance_window</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-maintenance-windows") %>>
                    <a href="/docs/providers/nutanix/d/ndb_maintenance_windows.html">nutanix_ndb_maintenance_windows</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-tag") %>>
                    <a href="/docs/providers/nutanix/d/ndb_tag.html">nutanix_ndb_tag</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-tags") %>>
                    <a href="/docs/providers/nutanix/d/ndb_tags.html">nutanix_ndb_tags</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ndb-network-available-ips") %>>
                    <a href="/docs/providers/nutanix/d/ndb_network_available_ips.html">nutanix_ndb_network_available_ips</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-address-group-v2") %>>
                    <a href="/docs/providers/nutanix/d/address_group_v2.html">nutanix_address_group_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-address-groups-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_address_groups_v2.html">nutanix_address_groups_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-authorization-policies-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_authorization_policies_v2.html">nutanix_authorization_policies_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-authorization-policy-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_authorization_policy_v2.html">nutanix_authorization_policy_v2</a>
                </li>
                <%# Prism V2: Datasources under prism-v2 %>
                <li<%= sidebar_current("docs-nutanix-datasource-categories-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_categories_v2.html">nutanix_categories_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-category-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_category_v2.html">nutanix_category_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-pcs-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_pcs_v2.html">nutanix_pcs_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-pc-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_pc_v2.html">nutanix_pc_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-restorable-pcs-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_restorable_pcs_v2.html">nutanix_restorable_pcs_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-pc-restore-points-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_pc_restore_points_v2.html">nutanix_pc_restore_points_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-restore-point-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_pc_restore_point_v2.html">nutanix_pc_restore_point_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-pc-backup-targets-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_pc_backup_targets_v2.html">nutanix_pc_backup_targets_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-pc-backup-target-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_pc_backup_target_v2.html">nutanix_pc_backup_target_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-pc-restore-source-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_pc_restore_source_v2.html">nutanix_pc_restore_source_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-cluster-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_cluster_v2.html">nutanix_cluster_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-clusters-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_clusters_v2.html">nutanix_clusters_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-nutanix-directory-service-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_directory_service_v2.html">nutanix_directory_service_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-nutanix-directory-services-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_directory_services_v2.html">nutanix_directory_services_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-floating-ip-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_floating_ip_v2.html">nutanix_floating_ip_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-floating-ips-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_floating_ips_v2.html">nutanix_floating_ips_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-host-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_host_v2.html">nutanix_host_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-hosts-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_hosts_v2.html">nutanix_hosts_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-image-placements-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_image_placements_v2.html">nutanix_image_placements_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-image-placement-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_image_placement_v2.html">nutanix_image_placement_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-image-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_image_v2.html">nutanix_image_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-images-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_images_v2.html">nutanix_images_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-network_security_policies_v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_network_security_policies_v2.html">nutanix_network_security_policies_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-network_security_policy_v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_network_security_policy_v2.html">nutanix_network_security_policy_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-ngt-configuration-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_ngt_configuration_v2.html">nutanix_ngt_configuration_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-operation-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_operation_v2.html">nutanix_operation_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-operations-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_operations_v2.html">nutanix_operations_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-pbr-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_pbr_v2.html">nutanix_pbr_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-pbrs-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_pbrs_v2.html">nutanix_pbrs_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-pe-pc-entities-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_pe_pc_entities_v2.html">nutanix_pe_pc_entities_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-pe-pc-entity-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_pe_pc_entity_v2.html">nutanix_pe_pc_entity_v2</a>
                </li>
                <%# Dataprotection V2: Datasources under dataprotectionv2 %>
                <li<%= sidebar_current("docs-nutanix-recovery-point-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_recovery_point_v2.html">nutanix_recovery_point_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-recovery-points-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_recovery_points_v2.html">nutanix_recovery_points_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-vm-recovery-point-info-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_vm_recovery_point_info_v2.html">nutanix_vm_recovery_point_info_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-protected-resource-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_protected_resource_v2.html">nutanix_protected_resource_v2</a>
                </li>
                <%# Datapolicy V2: Datasources under datapoliciesv2 %>
                <li<%= sidebar_current("docs-nutanix-datasource-protection-policy-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_protection_policy_v2.html">nutanix_protection_policy_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-protection-policies-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_protection_policies_v2.html">nutanix_protection_policies_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-role-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_role_v2.html">nutanix_role_v2</a>
                </li>
                 <li<%= sidebar_current("docs-nutanix-datasource-roles-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_roles_v2.html">nutanix_roles_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-route-table-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_route_table_v2.html">nutanix_route_table_v2</a>
                </li>
                 <li<%= sidebar_current("docs-nutanix-datasource-route-tables-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_route_tables_v2.html">nutanix_route_tables_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-route-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_route_v2.html">nutanix_route_v2</a>
                </li>
                 <li<%= sidebar_current("docs-nutanix-datasource-routes-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_routes_v2.html">nutanix_routes_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-saml-identity-provider-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_saml_identity_provider_v2.html">nutanix_saml_identity_provider_v2</a>
                </li>
                 <li<%= sidebar_current("docs-nutanix-datasource-saml-identity-providers-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_saml_identity_providers_v2.html">nutanix_saml_identity_providers_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-service-group-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_service_group_v2.html">nutanix_service_group_v2</a>
                </li>
                 <li<%= sidebar_current("docs-nutanix-datasource-service-groups-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_service_groups_v2.html">nutanix_service_groups_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-route-table-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_route_table_v2.html">nutanix_route_table_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-routes-tables-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_route_tables_v2.html">nutanix_route_tables_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-storage-container-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_storage_container_v2.html">nutanix_storage_container_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-storage-containers-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_storage_containers_v2.html">nutanix_storage_containers_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-storage-stats-info-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_storage_container_stats_info_v2.html">nutanix_storage_container_stats_info_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-subnet-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_subnet_v2.html">nutanix_subnet_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-subnets-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_subnets_v2.html">nutanix_subnets_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-template-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_template_v2.html">nutanix_template_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-templates-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_templates_v2.html">nutanix_templates_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-user-group-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_user_group_v2.html">nutanix_user_group_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-user-groups-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_user_groups_v2.html">nutanix_user_groups_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-user-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_user_v2.html">nutanix_user_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-users-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_users_v2.html">nutanix_users_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-virtual-machine-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_virtual_machine_v2.html">nutanix_virtual_machine_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-virtual-machines-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_virtual_machines_v2.html">nutanix_virtual_machines_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-recovery-point-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_recovery_point_v2.html">nutanix_recovery_point_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-volume-group-disk-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_volume_group_disk_v2.html">nutanix_volume_group_disk_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-volume-group-disks-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_volume_group_disks_v2.html">nutanix_volume_group_disks_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-volume-group-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_volume_group_v2.html">nutanix_volume_group_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-volume-groups-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_volume_groups_v2.html">nutanix_volume_groups_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-volume-iscsi-client-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_volume_iscsi_client_v2.html">nutanix_volume_iscsi_client_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-volume-iscsi-clients-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_volume_iscsi_clients_v2.html">nutanix_volume_iscsi_clients_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-vpc-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_vpc_v2.html">nutanix_vpc_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-vpcs-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_vpcs_v2.html">nutanix_vpcs_v2</a>
                </li>
                <%# LCM V2: Datasources under lcmv2 %>
                <li<%= sidebar_current("docs-nutanix-datasource-lcm-status-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_lcm_status_v2.html">nutanix_lcm_status_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-lcm-entity-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_lcm_entity_v2.html">nutanix_lcm_entity_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-lcm-entities-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_lcm_entities_v2.html">nutanix_lcm_entities_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-datasource-lcm-config-v2") %>>
                    <a href="/docs/providers/nutanix/d/nutanix_lcm_config_v2.html">nutanix_lcm_config_v2</a>
                </li>

                <%# security V2: Datasources under security2 %>
                <li<%= sidebar_current("docs-nutanix-datasource-stigs-v2") %>>
                    <a href="docs/d/stigs_v2.html.markdown">nutanix_stigs_v2</a>
                </li>
            </ul>
        </li>

        <li<%= sidebar_current("docs-nutanix-resource") %>>
            <a href="#">Resources</a>
            <ul class="nav nav-visible">
                 <li<%= sidebar_current("docs-nutanix-resource-access-control-policy") %>>
                    <a href="/docs/providers/nutanix/r/access_control_policy.html">nutanix_access_control_policy</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-nutanix-category-key") %>>
                    <a href="/docs/providers/nutanix/r/category_key.html">nutanix_category_key</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-nutanix-category-value") %>>
                    <a href="/docs/providers/nutanix/r/category_value.html">nutanix_category_value</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-nutanix_image") %>>
                    <a href="/docs/providers/nutanix/r/image.html">nutanix_image</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-karbon-cluster") %>>
                    <a href="/docs/providers/nutanix/r/karbon_cluster.html">nutanix_karbon_cluster</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-karbon-private-registry") %>>
                    <a href="/docs/providers/nutanix/r/karbon_private_registry.html">nutanix_karbon_private_registry</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-network-security-rule") %>>
                    <a href="/docs/providers/nutanix/r/network_security_rule.html">nutanix_network_security_rule</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-project") %>>
                    <a href="/docs/providers/nutanix/r/project.html">nutanix_project</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-protection-rule") %>>
                    <a href="/docs/providers/nutanix/r/protection_rule.html">nutanix_protection_rule</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-recovery-plan") %>>
                    <a href="/docs/providers/nutanix/r/recovery_plan.html">nutanix_recovery_plan</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-role") %>>
                    <a href="/docs/providers/nutanix/r/role.html">nutanix_role</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-nutanix_subnet") %>>
                    <a href="/docs/providers/nutanix/r/subnet.html">nutanix_subnet</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-user") %>>
                    <a href="/docs/providers/nutanix/r/user.html">nutanix_user</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-nutanix-virtual-machine") %>>
                    <a href="/docs/providers/nutanix/r/virtual_machine.html">nutanix_virtual_machine</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-address-group") %>>
                    <a href="/docs/providers/nutanix/r/address_group.html">nutanix_address_group</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-service-group") %>>
                    <a href="/docs/providers/nutanix/r/service_group.html">nutanix_service_group</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-foundation-image-nodes") %>>
                    <a href="/docs/providers/nutanix/r/foundation_image_nodes.html">nutanix_foundation_image_nodes</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-foundation-image") %>>
                    <a href="/docs/providers/nutanix/r/foundation_image.html">nutanix_foundation_image</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-foundation-ipmi-config") %>>
                    <a href="/docs/providers/nutanix/r/foundation_ipmi_config.html">nutanix_foundation_ipmi_config</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-foundation-central-api-key") %>>
                    <a href="/docs/providers/nutanix/r/foundation_central_api_key.html">nutanix_foundation_central_api_key</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-foundation-central-image-cluster") %>>
                    <a href="/docs/providers/nutanix/r/foundation_central_image_cluster.html">nutanix_foundation_central_image_cluster</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-foundation-central-onboard-nodes") %>>
                    <a href="/docs/providers/nutanix/r/foundation_central_onboard_nodes.html">nutanix_foundation_central_onboard_nodes</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-floating-ip") %>>
                    <a href="/docs/providers/nutanix/r/floating_ip.html">nutanix_floating_ip</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-pbr") %>>
                    <a href="/docs/providers/nutanix/r/pbr.html">nutanix_pbr</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-static-routes") %>>
                    <a href="/docs/providers/nutanix/r/static_routes.html">nutanix_static_routes</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-vpc") %>>
                    <a href="/docs/providers/nutanix/r/vpc.html">nutanix_vpc</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-user-groups") %>>
                    <a href="/docs/providers/nutanix/r/user_groups.html">nutanix_user_groups</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-database") %>>
                    <a href="/docs/providers/nutanix/r/ndb_database.html">nutanix_ndb_database</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-clone") %>>
                    <a href="/docs/providers/nutanix/r/ndb_clone.html">nutanix_ndb_clone</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-database-restore") %>>
                    <a href="/docs/providers/nutanix/r/ndb_database_restore.html">nutanix_ndb_database_restore</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-database-scale") %>>
                    <a href="/docs/providers/nutanix/r/ndb_database_scale.html">nutanix_ndb_database_scale</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-database-snapshot") %>>
                    <a href="/docs/providers/nutanix/r/ndb_database_snapshot.html">nutanix_ndb_database_snapshot</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-log-catchups") %>>
                    <a href="/docs/providers/nutanix/r/ndb_log_catchups.html">nutanix_ndb_log_catchups</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-profile") %>>
                    <a href="/docs/providers/nutanix/r/ndb_profiles.html">nutanix_ndb_profile</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-database-register") %>>
                    <a href="/docs/providers/nutanix/r/ndb_register_database.html">nutanix_ndb_register_database</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-sla") %>>
                    <a href="/docs/providers/nutanix/r/ndb_sla.html">nutanix_ndb_sla</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-software-version-profile") %>>
                    <a href="/docs/providers/nutanix/r/ndb_software_profile_version.html">nutanix_ndb_software_version_profile</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-authorize-dbserver") %>>
                    <a href="/docs/providers/nutanix/r/ndb_authorize_dbserver.html">nutanix_ndb_authorize_dbserver</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-dbserver-vm") %>>
                    <a href="/docs/providers/nutanix/r/ndb_dbservervm.html">nutanix_ndb_dbserver_vm</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-dbservervm-register") %>>
                    <a href="/docs/providers/nutanix/r/ndb_dbservervm_register.html">nutanix_ndb_register_dbserver</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-network") %>>
                    <a href="/docs/providers/nutanix/r/ndb_network.html">nutanix_ndb_network</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-stretched-vlan") %>>
                    <a href="/docs/providers/nutanix/r/ndb_stretched_vlans.html">nutanix_ndb_stretched_vlan</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-clone-refresh") %>>
                    <a href="/docs/providers/nutanix/r/ndb_clone_refresh.html">nutanix_ndb_clone_refresh</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-tms-cluster") %>>
                    <a href="/docs/providers/nutanix/r/ndb_time_machine_cluster.html">nutanix_ndb_tms_cluster</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-cluster") %>>
                    <a href="/docs/providers/nutanix/r/ndb_cluster.html">nutanix_ndb_cluster</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-tag") %>>
                    <a href="/docs/providers/nutanix/r/ndb_tag.html">nutanix_ndb_tag</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-maintenance_window") %>>
                    <a href="/docs/providers/nutanix/r/ndb_maintenance_window.html">nutanix_ndb_maintenance_window</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ndb-maintenance_task") %>>
                    <a href="/docs/providers/nutanix/r/ndb_maintenance_task.html">nutanix_ndb_maintenance_task</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-karbon-worker-nodepool") %>>
                    <a href="/docs/providers/nutanix/r/karbon_cluster_worker_nodepool.html">nutanix_karbon_worker_nodepool</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-address-groups-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_address_groups_v2.html">nutanix_address_groups_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-authorization-policy-v2") %>>
                    <a href="/docs/providers/nutanix/r/authorization_policy_v2.html">authorization_policy_v2</a>
                </li>
                <%#  Prism V2: resources under prismv2 %>
                <li<%= sidebar_current("docs-nutanix-resource-category-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_category_v2.html">nutanix_category_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-pc-backup-target-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_pc_backup_target_v2.html">nutanix_pc_backup_target_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-pc-restore-source-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_pc_restore_source_v2.html">nutanix_pc_restore_source_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-pc-restore-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_pc_restore_v2.html">nutanix_pc_restore_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-pc-deploy-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_pc_deploy_v2.html">nutanix_pc_deploy_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-pc-registration-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_pc_registration_v2.html">nutanix_pc_registration_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-pc-unregistration-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_pc_unregistration_v2.html">nutanix_pc_unregistration_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-nutanix-cluster-add-node-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_cluster_add_node_v2.html">nutanix_cluster_add_node_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-cluster-entity") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_cluster_entity_v2.html">nutanix_cluster_entity_v2</a>
                </li>
                 <li<%= sidebar_current("docs-nutanix-resource-clusters-discover-unconfigured-nodes-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_clusters_discover_unconfigured_nodes_v2.html">nutanix_clusters_discover_unconfigured_nodes_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-clusters-unconfigured-node-networks-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_clusters_unconfigured_node_networks_v2.html">nutanix_clusters_unconfigured_node_networks_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-deploy-templates-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_deploy_templates_v2.html">nutanix_deploy_templates_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-directory-services-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_directory_services_v2.html">nutanix_directory_services_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-floating-ip-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_floating_ip_v2.html">nutanix_floating_ip_v2</a>
                </li>
                 <li<%= sidebar_current("docs-nutanix-resource-image-placement-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_image_placement_v2.html">nutanix_image_placement_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-images-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_images_v2.html">nutanix_images_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-network-security-policy-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_network_security_policy_v2.html">nutanix_network_security_policy_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ngt-insert_iso-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_ngt_insert_iso_v2.html">nutanix_ngt_insert_iso_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-ngt-installation-v2") %>>
                    <a href="/docs/providers/nutanix/r/ngt_installation_v2.html">ngt_installation_v2</a>
                </li>
                 <li<%= sidebar_current("docs-nutanix-resource-ngt-upgrade-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_ngt_upgrade_v2.html">nutanix_ngt_upgrade_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-pbr-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_pbr_v2.html">nutanix_pbr_v2</a>
                </li>
                <%# Dataprotection V2: resources under dataprotectionv2 %>
                <li<%= sidebar_current("docs-nutanix-resource-recovery-points-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_recovery_points_v2.html">nutanix_recovery_points_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-recovery-point-replicate-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_recovery_point_replicate_v2.html">nutanix_recovery_point_replicate_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-recovery-point-restore-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_recovery_point_restore_v2.html">nutanix_recovery_point_restore_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-promote-protected-resource-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_promote_protected_resource_v2.html">nutanix_promote_protected_resource_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-restore-protected-resource-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_restore_protected_resource_v2.html">nutanix_restore_protected_resource_v2</a>
                </li>
                <%# Datapolicy V2: resources under datapoliciesv2%>
                <li<%= sidebar_current("docs-nutanix-resource-protection-policy-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_protection_policy_v2.html">nutanix_protection_policy_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-roles-v2) %>>
                    <a href="/docs/providers/nutanix/r/nutanix_roles_v2.html">nutanix_roles_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-routes-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_routes_v2.html">nutanix_routes_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-saml-identity-providers-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_saml_identity_providers_v2.html">nutanix_saml_identity_providers_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-service-groups-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_service_groups_v2.html">nutanix_service_groups_v2</a>
                </li>
                 <li<%= sidebar_current("docs-nutanix-resource-storage-containers-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_storage_containers_v2.html">nutanix_storage_containers_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-subnet-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_subnet_v2.html">nutanix_subnet_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-template-version-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_template_version_v2.html">nutanix_template_version_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-template-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_template_v2.html">nutanix_template_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-user-groups-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_user_groups_v2.html">nutanix_user_groups_v2</a>
                </li>
                 <li<%= sidebar_current("docs-nutanix-resource-users-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_users_v2.html">nutanix_users_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-vm-clone-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_vm_clone_v2.html">nutanix_vm_clone_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-vm-gc-update") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_vm_gc_update_v2.html">nutanix_vm_gc_update_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-vm-network-device-assign-ip-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_vm_network_device_assign_ip_v2.html">nutanix_vm_network_device_assign_ip_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-vm-network-device-migrate-v2") %>>
                    <a href="/docs/providers/nutanix/r/virtual_machine_network_device_migrate_v2.html">nutanix_vm_network_device_migrate_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-virtual-machine-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_virtual_machine_v2.html">nutanix_virtual_machine_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-vm-cdroms-insert-eject-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_vm_cdrom_insert_eject_v4.html">nutanix_vm_cdrom_insert_eject_v4</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-vm-revert-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_vm_revert_v2.html">nutanix_vm_revert_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-vm-shutdown-action-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_vm_shutdown_action_v2.html">nutanix_vm_shutdown_action_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-volume-group-disk-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_volume_group_disk_v2.html">nutanix_volume_group_disk_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-volume-group-iscsi-client-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_volume_group_iscsi_client_v2.html">nutanix_volume_group_iscsi_client_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-volume-group-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_volume_group_v2.html">nutanix_volume_group_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-volume-group-vm-attachments-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_volume_group_vm_v2.html">nutanix_volume_group_vm_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-vpc-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_vpc_v2.html">nutanix_vpc_v2</a>
                </li>
                <%# LCM V2: resources under lcmv2 %>
                <li<%= sidebar_current("docs-nutanix-resource-lcm-perform-inventory-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_lcm_perform_inventory_v2.html">nutanix_lcm_perform_inventory_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-lcm-prechecks-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_lcm_prechecks_v2.html">nutanix_lcm_prechecks_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-lcm-upgrade-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_lcm_upgrade_v2.html">nutanix_lcm_upgrade_v2</a>
                </li>
                <li<%= sidebar_current("docs-nutanix-resource-lcm-config-v2") %>>
                    <a href="/docs/providers/nutanix/r/nutanix_lcm_config_v2.html">nutanix_lcm_config_v2</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<% end %>

<%= yield %>
<% end %>
